@import "../../app/variables";

.drawer {
  position: relative;

  .anchor {
    position: absolute;
    top: -70px;
    visibility: hidden;
  }

  :global(.card-body):empty {
    display: none;
  }

  &:not(.isSuccess, .isDanger) {
    :global(.card-header) {
      border-bottom: none;
    }
  }
}

.isActive {
  :global(.card-header) {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
  }
}
.isSuccess {
  :global(.card-header) {
    background-color: rgba(var(--bs-success-rgb), 0.15);
  }
}
.isDanger {
  :global(.card-header) {
    background-color: rgba(var(--bs-danger-rgb), 0.15);
  }
}
