@use "sass:map";
@import "bootstrap/scss/mixins";
@import "../../app/variables";

.drawer {
  position: relative;

  .anchor {
    position: absolute;
    top: -70px;
    visibility: hidden;
  }
  > :global(.card-header) {
    min-height: 70px;
  }

  :global(.card-body):empty {
    display: none;
  }

  &:not(.isSuccess, .isDanger, .isWaiting),
  &.isLocked {
    > :global(.card-header) {
      border-bottom: none;
      border-radius: var(--bs-card-inner-border-radius);
    }
  }

  .actionButton {
    white-space: nowrap;

    @include media-breakpoint-only(sm) {
      display: flex;
      align-items: center;
      gap: map.get($spacers, 2);
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      gap: map.get($spacers, 2);
    }

    @include media-breakpoint-down(sm) {
      .actionButtonLabel {
        @include visually-hidden;
      }
    }
    @include media-breakpoint-only(md) {
      .actionButtonLabel {
        @include visually-hidden;
      }
    }
  }
}

.isActive {
  > :global(.card-header) {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
  }
}
.isSuccess {
  > :global(.card-header) {
    background-color: rgba(var(--bs-success-rgb), 0.15);
  }
}
.isDanger {
  > :global(.card-header) {
    background-color: rgba(var(--bs-danger-rgb), 0.15);
  }
}
.isWaiting {
  > :global(.card-header) {
    background-color: rgba(var(--bs-warning-rgb), 0.15);
  }
}
