@import "../../src/app/variables";

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 0 auto;
  width: min(var(--content-width, 100%), 100%);
  margin: 0 auto;
  padding: 0 1rem;
}

.brandName {
  animation: turn 5s linear;
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 1.5rem;
  background: $logo-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
