.appWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;

  .appHeader {
    min-height: 56px;
    flex: 0 0 auto;
  }

  .appMain {
    flex: 1 0 auto;
  }

  .appFooter {
    flex: 0 0 auto;
  }
}

.navbarBrandText {
  font-weight: 700;
  background: linear-gradient(90deg, var(--bs-primary), var(--bs-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
