@import "bootstrap/scss/functions";

$headerHeight: 56px;

// Include any default variable overrides here
$cancel: #6c757d;
$primary: #404483;
$primary-dark: #5e65ad;
$secondary: #c42f57;

$zindex-modal-backdrop: 1055 !default; // per supportare modali innestate

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// Include any default map overrides here

$custom-colors: (
  "cancel": $cancel,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
