@import "@/app/variables";

.divider {
  display: none;
  @include media-breakpoint-up(sm) {
    display: revert;
  }
}

.fromDb {
  :global(.list-inline-item):not(:first-child)::before {
    content: "|";
    display: none;
    margin-inline-end: 0.5rem;

    @include media-breakpoint-up(sm) {
      display: revert;
    }
  }

  :global(.list-inline-item) {
    display: block;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-block-end: 0.5rem;
      @include media-breakpoint-up(sm) {
        margin-block-end: 0;
      }
    }
  }
}
