@import "../variables";

.navbarBrandText {
  font-weight: 700;
  background: $logo-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbarBrandLink {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--bs-primary);
  max-width: calc(100% - 16px - 56px); // 100% - margin - toggle button width
}

.navbarNav :global(.nav-link) {
  white-space: nowrap;
}
