@import "../../app/variables";
@value isDragAccept from "./DropzoneField.module.scss";
@value isDragReject from "./DropzoneField.module.scss";

.base {
  padding: map-get($spacers, 3);
  border-left: 2px solid currentColor;
  background-color: var(--bs-light-bg-subtle);
  border-radius: 0.25rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: map-get($spacers, 1);
  :global(:where(.form-text, .invalid-feedback, .valid-feedback)) {
    margin-top: 0;
  }

  > label,
  :not(:global(.form-check-inline)) label,
  :global(.input-heading) {
    font-weight: 500;
    text-transform: uppercase;
  }

  &.isDisabled {
    border-color: var(--bs-cancel);
    background-color: rgba($cancel, 0.1);

    > label,
    :not(:global(.form-check-inline)) label,
    :global(.input-heading) {
      color: var(--bs-cancel);
    }

    :global(.text-warning) {
      color: $yellow-600 !important; // !important is needed to override bootstrap
    }
  }

  &.isValid {
    border-color: var(--bs-success);
    background-color: var(--bs-success-bg-subtle);

    > label,
    :not(:global(.form-check-inline)) label,
    :global(.input-heading) {
      color: var(--bs-success);
    }
  }

  &.isInvalid {
    border-color: var(--bs-danger);
    background-color: var(--bs-danger-bg-subtle);

    > label,
    :not(:global(.form-check-inline)) label,
    :global(.input-heading) {
      color: var(--bs-danger);
    }
  }

  &:has(.isDragAccept) {
    border-color: var(--bs-success);
    background-color: var(--bs-success-bg-subtle);

    > label,
    :not(:global(.form-check-inline)) label,
    :global(.input-heading) {
      color: var(--bs-success);
    }
  }
  &:has(.isDragReject) {
    border-color: var(--bs-danger);
    background-color: var(--bs-danger-bg-subtle);

    > label,
    :not(:global(.form-check-inline)) label,
    :global(.input-heading) {
      color: var(--bs-danger);
    }
  }
}
